:root {
    --primary :#021A84;
    --secondary: #FE4C4C;
    --text: #171717;
    --dark-primary: #010d42;
    --gray: #999999;
    --background: #F2F2F2;
    --light-gray: #E5E5E5;
    --green-text:   #156d33;
    --blue-text: #021A84;
    --red-text: #E5532A;
    --green-gradient: linear-gradient(0deg, #2ADA66, #2ADA66),
linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
    --purple-gradient:  linear-gradient(0deg, #021A84, #021A84),
linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
    --red-gradient:  linear-gradient(0deg, #E5532A, #E5532A),
linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));


}
html,body {
      font-family: "Inter", sans-serif;
      font-size: 14px;
      background-color: rgb(236, 231, 231)
}
.wrapper {
    max-width: 1160px;
    width: 100%;
    margin-inline: auto;
}
/* button style*/ 
.btn {
    height: 44px;
    min-width: 149px;  
    display: flex;  
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500px;
    padding: 8px 16px;
    color: inherit;
}
.btn--border{
    border: 1px solid var(--primary);
    border-radius: 8px;
    color: var(--primary);
}

 .btn--border:hover{
    background-color: var(--primary);
    color: white;
    transition: linear .2s;
 }
.btn--solid {
    border-radius: 8px;
    background-color: var(--primary);
    color: white;
      user-select: none;
  cursor: pointer;
  position: relative;
  isolation: isolate;
  overflow: hidden;
  border: none;
  outline: none;
}

.btn--solid:hover::before {
  left: auto;
  right: 0;
  width: 100%;
}
.btn--solid::before {
  content: "";
  position: absolute;
  left: 0;
  right: auto;
  top: 0;
  height: 100%;
  width: 0;
  background-color: #fff;
  opacity: 0.1;
  z-index: -1;
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.heading{
    color: var(--dark-primary);
    font-size: 34px;
    font-weight: 700;
}
.btn-scrollTop{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 9999;
    right: 40px;
    bottom: 40px;
}

/* End button style */